body {
    background-color: #bfb487;
    background-repeat: no-repeat;
    background-image: url(../images/BK.png);
}

.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}
.bg {
    background-color: white;
    /* border: black solid 1px; */
    padding: 50px 50px 50px 50px;
}
/* .br {
    border-radius: 50px;
}
.box-shadow {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.drop-shadow {
    filter: drop-shadow(12px 12px 7px rgba(41, 41, 41, 0.5));
} */
.red-star {
    color: red;
    margin-right: 5px;
}
.border-b {
    border-bottom: 2px solid #dee2e6;
}

#box {
    margin-top: 1.5%;
}
